<!-- start: #footer -->
<footer id="footer">
	<div class="grid-container grid-parent">
		<div class="row" style="padding:10px;">
	            <ul class="col-xs-6 col-lg-2 col-lg-offset-2" style="list-style:none;">
	                <li><a href="http://heartcenteredrebalancing.com/about-us-2/">About Us</a></li>
	                <li><a href="http://heartcenteredrebalancing.com/contact-us/">Contact Us</a></li>
	                <li><a href="http://heartcenteredrebalancing.com/advertising-commitment/">Advertising Commitment</a></li>
	                <li><a href="http://heartcenteredrebalancing.com/dmca-removal-2/">DMCA / Removal</a></li>
	            </ul>


	            <ul class="col-xs-6  col-lg-2" style="list-style:none;width:150px;">
	                <li><a href="http://heartcenteredrebalancing.com/privacy-policy/">Privacy Policy</a></li>
	                <li><a href="http://heartcenteredrebalancing.com/terms-of-service">Terms of Service</a></li>
	                <li><a href="http://heartcenteredrebalancing.com/disclaimer/">Disclaimer</a></li>
	                <li><a href="http://heartcenteredrebalancing.com/user-agreement/">User Agreement</a></li>
					<li><a href="http://heartcenteredrebalancing.com/why-cookies/">We Use Cookies</a></li>
	            </ul>



				<div class="col-xs-offset-3 col-xs-12 col-sm-6 col-md-6 col-lg-4">

					<ul id="footer-nav" class="nav navbar-nav navbar-right"><li id="menu-item-1423" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1423 dropdown yamm-fw favethemes-links-megamenu"><a href="http://kaylene.life">Energy Healing</a></li>
	<li id="menu-item-1422" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1422"><a href="https://www.facebook.com/heartcenteredrebalancing.com">Facebook</a></li>
	<li id="menu-item-1723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1723"><a href="https://www.youtube.com/channel/UCKfaRR9jOK3VV0XxaHbQcsQ">Youtube Channel</a></li>
	</ul>
				</div>

	        </div>
		<div class="copyright">
			<p>© Copyright 2016 - Crafted with love by GroupX inc.</p>
		</div>
		<a href="javascript:void(0)" id="back-to-top">JUMP TO TOP<i class="fa fa-chevron-up"></i></a>
	</div>
</footer>
<!-- end: #footer -->
