<aside id="featured" class="featured hide-on-mobile grid-25 tablet-grid-50">


	<div id="ad_" class="">

		<a href="" class="ads" target="_blank"><img src="{{asset "images/ad_2-300x250.png"}}" ></a>
	</div>
	<!-- end: .item -->

</aside>
